.liList {
  color: silver;
  font-size: x-small;
}
.inactive {
  cursor: pointer;
  margin: 5px 15px 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: silver;
  font-size: 11px;
}
.active {
  border-bottom: 1px solid rgb(0, 0, 0);
  color: black;
  word-break: keep-all;
  word-wrap: normal;
  cursor: pointer;
  margin: 5px 16px 5px 0px;
  font-weight: bold;
  font-family: ProximaNova, Arial, Helvetica Neue, sans-serif;
  padding-bottom: 1px;
}
